body {
    background-color: #66CCFF;
    margin: 0px;    
}
#wrapper {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #D0D0D0;
    width: 1200px;
}
#header {
    text-indent: 5em;
    background-color: #F5F8FA;
    padding: 10px 0;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    font-size: 20px;
    letter-spacing: 10px;
}
#sub-header {
    font-size: 18px;
    color:#A0A0A0;
    letter-spacing: 2px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0 6em;
    overflow:hidden;
    background-color: #F5F8FA;
    text-align: center;
}
.navigation li {
    float: left;
}
.navigation a:link, a:visited  {
    display: block;
    width: 100px;
    margin-right: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #98bf21;
    padding: 10px;
}
.navigation a:hover, a:active  {
    background-color: #7A991A;
}
#content {
    text-indent: 5em;
    background-color: #FFFFFF;
    padding: 10px;
    color:black;
    text-align: center;
}
#main a {
    text-decoration: none;
    color:black;
}
#main a:hover {
    color:red;
}
#main ul {
    list-style-type: none;
    overflow:hidden;
    text-align: center;
    margin: 50px;
}
#main li {
    margin: 10px;
}

/*日历css*/
div#calendar {
    width: 460px;
    height: 350px;
    background-color: #FFFFFF;
    border: 5px solid grey;
    margin: 5em 20em;
    text-indent: 0;
}
.title {
    font-size: 30px;
}
#prev {
    float:left;
}
#next {
    float:right;
}
.calist ul {
    width:100%;
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.calist ul li {
    display: block;
    float: left;
    font-size: 20px;    
    width:12%;
    margin: 2px;
    padding: 2px;
}
.lightgrey {
    color:#a8a8a8;
}
.darkgrey {
    color:#565656;
}